html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0;color:#fff;font-family: 'junction', sans-serif;overflow-x: hidden;overflow-y:auto;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}*{box-sizing:border-box;}
@font-face {
    font-family: 'junction';
    src: url('fonts/Junction-webfont.eot');
    src: url('fonts/Junction-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Junction-webfont.woff') format('woff'),
    url('fonts/Junction-webfont.ttf') format('truetype'),
    url('fonts/Junction-webfont.svg#FontName') format('svg');
    font-weight: normal;
    font-style: normal;
}
a:hover {
    text-decoration: none;
}
.wrapper {

}
body {
	background: url('images/background.jpg');
    background-attachment: fixed;
}

/* Menu & Header */

header {
    background-color: #113c5f;
    opacity: .75;
    position: fixed;
    width: 100%;
    z-index: 500;   
}
#main-nav{
    margin-bottom: 0;
}
#main-nav li {
	margin: 25px;
    display: inline-block;
    float: left;
    font-size: 24px;
}
#main-nav li a {
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#main-nav li a:hover {
    text-decoration: none;
}
.quick-links {
    margin: 7px 25px 0 25px;
    font-size: 24px;
    text-align: center;
}

/* Main Body */

#introContent {
    padding: 100px 5% 5% 5%;
    background: #5e7c94;
}
#title {
    text-align: center;
    font-size: 50px;
    padding: 5px 0;
}
.intro-text {
    font-size: 40px;
    width: 860px;
    margin: 25px auto ;
}
.intro-port {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #fff;
    text-align: center;
    height: 58px;
    padding: 18px;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.intro-port:hover {
    text-decoration: none;
    background: rgba(224, 224, 235, .5);
    color: #fff;
}
#skillsContent {
    padding: 5% 25px 5% 5%;
    background: url(images/skills-bg.jpg) 100% no-repeat;
}
.skills {
    background: rgba(54,69,79,.5);
    padding: 25px!important;
}
.contentHeader {
    margin-top: 0;
}
#skillsList {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
#projectsContent {

}
.project {
    background: rgba(54,69,79,.5);
    padding: 25px!important;
    min-height: 150px;
    width:100%;
    margin: 25px 0;
}
.project img {
    width: 100px;
}
footer {
    height: 40px;
    width: 100%;
}
.projects-module {
  padding-right: 25px;
  padding-left: 25px;
  margin-right: auto;
  margin-left: auto;
}
.fizzbuzz {
    background: #BCCAC3;
}
.madlib {
    background: #228b22;
}
.circle-thumb{
    float: left;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 100%;
    position: relative;
    padding: 38px 0px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.project-title {
    font-size: 20px;
    margin-bottom: 15px;
}
.see-example {
    background: #fff;
    text-align: center;
    padding: 5px;
    color: #113c5f;
}
.project-para {
    margin-bottom: 25px;
}
.project-content a:hover {
    text-decoration: none;
}
#box-0, #box-1, #box-3, #box-4, #box-6, #box-7 {
    border-right:2px solid #fff;
}

#box-0, #box-1, #box-2, #box-3, #box-4, #box-5 {
    border-bottom:2px solid #fff;
}
.boxes {
    height: 25px;
    width: 25px;
    float: left;
}
.tictactoe {
    background: #181e6b;
    padding: 14px 0 14px 11px;
}



